.colorBackground {
height: 80px;
width: 100%;
}
.modalcolorBackground {
height: 80px;
width: 100%;
display: block;
}

.displayedCard{
    padding:5px;
    padding-bottom: 20px;
}

.cardTitle {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    /* font-family: 'Open Sans', sans-serif; */
    /* font-weight: 500 !important;
    font-size: 19px !important; */
    /* padding-left: 10px; */
    
}

button {
    background-color: black;
}